<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}FastAPI Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="container">
        <h1>Tesseract Tower</h1>
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#aim">Our Aim</a></li>
          <li><a href="#works">Works</a></li>
          <li><a href="#stacks">Stacks</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>

    <div class="content">{% block content %}{% endblock %}</div>

    <script src="{{ url_for('static', path='/script.js') }}"></script>
  </body>
</html>
